{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{% static 'dashboard/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'dashboard/gauge.js' %}"></script>
    <script src="{% static 'dashboard/pureknob.js' %}"></script>
</head>

<body>
    <main>
        <div id="topbar" class="topbar">
            <div id="clock" class="clock">
                <div id="clock_inside" class="clock_inside"></div>
                <div id="clock_inside_small" class="clock_inside_small"></div>
            </div>
            <div class="typewriter">
                <h1>Welkom {{time.last.id}}</h1>
            </div>
            <button id="logout">
                <h2 style="font-size:100%;">Uitloggen</h2>
            </button>
        </div>
        <div class="block" id="bigblock">
            <div class="colblock">
                <div class="block">
                    <div>
                        <h2>Laatste update:</h2>
                    </div>
                    <div>
                        <h2>{{time.last.time}}</h2>
                    </div>
                </div>
            </div>
            <div class="block">
                <div id="gauges">
                    <!-- <div id="gauge1"><h2>Temperatuur</h2></div>
                    <div id="gauge2"><h2>Luchtvochtigheid</h2></div>
                    <div id="gauge3"><h2>Windsnelheid</h2></div>
                    <div id="gauge4"><h2>Lichtintensiteit</h2></div> -->

                    <div id="gauge1"></div>
                    <div id="gauge2"></div>
                    <div id="gauge3"></div>
                    <div id="gauge4"></div>
                </div>
            </div>

            <div class="block" style="width: 100%;">
                <canvas id="myChart"></canvas>
            </div>

            <div class="block" style="width: 100%;">
                <input id="start_time" type="datetime-local">
                <input id="end_time" type="datetime-local">
                <button onclick="callREST()">Get range</button>
                <h2 id="response"></h2>
                <canvas id="chart1"></canvas>
            </div>
            <div class="block">
                <div>
                    <h2>Activiteiten:</h2>
                </div>
                <table>
                    <thead>
                        <th>Activiteit</th>
                        <th>Beschrijving</th>
                        <th style="padding-right: 5px; text-align: right;">Humidity</th>
                        <th style="padding-right: 5px; text-align: right;">Temperature</th>
                    </thead>
                    <tbody>
                        {% for item in time|slice:":10" %}
                        <tr>
                            <td>{{item.id}}</td>
                            <td>{{item.time}}</td>
                            <td style="padding-right: 5px !important;text-align: right;width: 10px !important;">
                                {{item.humidity}}
                            </td>
                            <td>{{item.temperature}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </main>
    <script src="{% static 'dashboard/script.js' %}" > </script>
</body>
</html>
