{% load django_bootstrap5 %}
{% load leaflet_tags %}
{% load static %}
<!DOCTYPE html>
<html>
{% leaflet_js %}
{% leaflet_css %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load pwa %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
 
  <!-- Include Date Range Picker -->
  <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
  {% progressive_web_app_meta %}
</head>
<body>
    <nav class="navbar navbar-static-top navbar-expand-lg bg-dark navbar-dark">
      <div class="container">
        <a href="#" class="d-flex navbar-brand align-items-center justify-content-lg-start">
          <img height="32" src="{% static '/images/icon.png' %}" style="filter: invert(100%)"></img>
          WHUB
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navmenu">
        <ul class="nav col-12 me-auto">
          <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
          <li><a href="/map/setup-station" class="nav-link px-2 text-secondary">Create Weatherstation</a></li>
        </ul>
        </div>
        <div class="nav-item ms-auto">
          {% if user.is_authenticated %}
          <a href="/map/logout"><button type="button" class="btn btn-outline-light me-2">Logout</button></a>
          {% else %}
          <a href="/map/login"><button type="button" class="btn btn-outline-light me-2">Login</button></a>
          <a href="/map/signup"><button type="button" class="btn btn-warning">Sign-up</button></a>
          {% endif %}

        </div>

        </div>
      </div>
    </nav>


      </div>
    </div>
  </header>
  <div class="container pt-2">
    <div class="accordion card shadow">
      <div class="card-header accordion-button" data-bs-toggle="collapse" data-bs-target="#card_map">
        <span class="col"><h4>Weather station map</h4></span>
      </div>
      <div class="collapse show" id="card_map">{% leaflet_map "map" callback="init_map" %}</div>
    </div>

    <div class="pt-2"></div>

    <div class="accordion card shadow">
      <div class="card-header accordion-button" data-bs-toggle="collapse" data-bs-target="#card_info">
        <h4 id="info_header">Weather info</h4>
      </div>
      <div id="card_info" class="collapse show">
        <div id="gauge1" class="p-2 row mx-auto"></div>
        <div class="input-group px-3" id="date_picker" style="display: none;">
          <span class="input-group-text bi-calendar-date" name="cal"></span>
          <input type="text" name="daterange" class="form-control" value="10/10/2023 1:30 PM - 10/10/2023 2:00 PM" />
        </div>
        <canvas class="w-100 p-2 justify-content-center" id="myChart" style="height: 300px"></canvas>
      </div>
    </div>

    <div class="pt-2"></div>

    <div class="table-responsive shadow card">
    <table class="table">
      <thead>
        <tr>
          <th scope="col-xs-2">id</th>
          <th scope="col-xs-4">user</th>
          <th scope="col-xs-5">url</th>
        </tr>
      </thead>
      <tbody>
      {% for item in stations %}
      <tr onclick="var user_id=document.getElementById('user#{{item.id}}').innerHTML; var uname=document.getElementById('username#{{item.id}}').innerHTML; open_station(e = {target: {myID : user_id, username: uname}})">
        <td scope="row" id="user#{{item.id}}">{{item.id}}</td>
	<td scope="row" id="username#{{item.id}}">{{item.user}}</td>
        <td scope="row"><a href="http://{{item.base_url}}">{{item.base_url}}</a></td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
    </div>

  </div>
  

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0-rc"></script>
  <script src="{% static 'pureknob.js' %}"></script>
  <script src="{% static 'script.js' %}"></script>
</body>
</html>
<script>
  function init_map(map, options){
    map.setView([52.05, 4.70], 7);
    var markerconfig = {
      color: 'red',
      fillColor: '#f03',
      fillOpacity: 0.5,
      radius: 500,
      title: "{{item.user}}",
      riseOnHover: true,
    }
    {% for item in stations %}
      marker{{item.id}} = L.marker([{{item.latitude}}, {{item.longitude}}], markerconfig).on('click', open_station).addTo(map);
      marker{{item.id}}.myID = {{item.id}};
      marker{{item.id}}.username = "{{item.user}}";
    {% endfor %}

  }
</script>
