{% load django_bootstrap5 %}
{% load leaflet_tags %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    {% leaflet_js %}
    {% leaflet_css %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <!-- <link rel="stylesheet" href="{% static 'style.css' %}"> -->
</head>
<body>
    <header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <!-- <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="{% static '/images/icon.png' %}"/></svg> -->
          <img  height="32" src="{% static '/images/icon.png' %}"></img>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
          <li><a href="/map/setup-station" class="nav-link px-2 text-white">Create Weatherstation</a></li>
	  <li><a href="/dashboard" class="nav-link px-2 text-white">Dashboard</a></li>
        </ul>

        <div class="text-end">
          {% if user.is_authenticated %}
          <a href="/map/logout"><button type="button" class="btn btn-outline-light me-2">Logout</button></a>
          {% else %}
          <a href="/map/login"><button type="button" class="btn btn-outline-light me-2">Login</button></a>
          <a href="/map/signup"><button type="button" class="btn btn-warning">Sign-up</button></a>
          {% endif %}

        </div>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="card" style="">
      <h4 class="card-header">Weather station</h4>
      {% leaflet_map "map" callback="init_map" %}
    </div>

    <div class="card" style="">
      <h4 class="card-header">Weather info</h4>
      <div id="info" class="card-body container-fluid">
        <div id="gauge1" class="row">
          <!-- <div id="gauge1" class="col-sm"></div>
          <div id="gauge2" class="col-sm"></div>
          <div id="gauge3" class="col-sm"></div>
          <div id="gauge4" class="col-sm"></div> -->
        </div>
      </div>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">lat</th>
          <th scope="col">long</th>
          <th scope="col">url</th>
        </tr>
      </thead>
      <tbody>
      {% for item in stations %}
      <tr>
        <td scope="row">{{item.id}}</td>
        <td scope="row">{{item.latitude}}</td>
        <td scope="row">{{item.longitude}}</td>
        <td scope="row">{{item.base_url}}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>

  </div>
  

  <script src="{% static 'pureknob.js' %}"></script>
  <script src="{% static 'script.js' %}"></script>
</body>
</html>
<script>
  function init_map(map, options){
    map.setView([51.5, 4.22], 5);
    var markerconfig = {
      color: 'red',
      fillColor: '#f03',
      fillOpacity: 0.5,
      radius: 500
    }
    {% for item in stations %}
      marker = L.marker([{{item.latitude}}, {{item.longitude}}], markerconfig).on('click', open_station).addTo(map);
      marker.myID = {{item.id}};
    {% endfor %}

  }
</script>
