{% load django_bootstrap5 %}
{% load leaflet_tags %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    {% leaflet_js %}
    {% leaflet_css %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <!-- <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="{% static '/images/icon.png' %}"/></svg> -->
          <img  height="32" src="{% static '/images/icon.png' %}"></img>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
          <li><a href="#" class="nav-link px-2 text-secondary">Create Weatherstation</a></li>
        </ul>

        <div class="text-end">
          <button type="button" class="btn btn-outline-light me-2">Login</button>
          <a href="/map/signup"><button type="button" class="btn btn-warning">Sign-up</button></a>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="card" style="">
      <h4 class="card-header">Select station location</h4>
      {% leaflet_map "map" callback="init_map" %}
    </div>
    {% block content %}
      <h2>Register new Weather Station</h2>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sign Up</button>
      </form>
    {% endblock %}
  </div>
</body>
</html>
    
<script>
  function init_map(map, options){
    map.setView([51.5, 4.22], 5);
    var markerconfig = {
      color: 'red',
      fillColor: '#f03',
      fillOpacity: 0.5,
      radius: 500
    }

    var lat = document.getElementById("id_latitude");
    var lon = document.getElementById("id_longitude");

    map.on('click', function(event){
      lat.value = event.latlng.lat;
      lon.value = event.latlng.lng;
      if(typeof pin == "object"){
        pin.setLatLng(event.latlng);
      }else{
        pin = L.marker(event.latlng, markerconfig);
        pin.addTo(map);
      }
    });
  }
</script>